# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
ENV/
env/
.venv/

# Environment variables
.env

# Django specific
db.sqlite3
media/
*.log

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Backup files
*.bak
*.swp
*.tmp

# Test and data files
*.pdf
*.txt

# Migrations (optional – uncomment if not versioning)
# */migrations/
